.star-icon-background {
  background-color: var(--color-dark-blue);
  width: 3.188rem;
  height: 3.188rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 2.188rem;
}

form p {
  margin: 1rem 0 1.5rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
